@* @page "/bookings"
@using Rza_valeria.Models
@using Rza_valeria.Utilities
@using Rza_valeria.Services
@inject RoombookingService RoombookingService
@inject UserSession UserSession
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>My Bookings</h3>


<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rooms</title>
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="Index.html"><img class="newlogo" src="images/newlogo.png"></a>
            <div class="nav-links" id="navLinks">  
                <i class="fa fa-close" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="Index.html">HOME</a></li>
                    <li><a href="Rooms.html">ROOMS</a></li>
                    <li><a href="Facilities.html">FACILITIES</a></li>
                    <li><a href="Location.html">LOCATION</a></li>
                    <li><a href="Reviews.html">REVIEWS</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>   
            
    </section>
    
<!---------- Rooms ---------->
    
<section class="facility">
    <h1>Our Rooms</h1>
    <p>Book Early, Stay Late.Your Next Adventure Awaits!</p>
        <div class="row">
            <div class="facility-col">
                <img src="images/hotel room.jpg">
                <h3>Standard Room</h3>
                <p>Our standard room is a basic accommodation with essential amenities, including a bed, private bathroom, and standard furnishings. It provides a cost-effective and straightforward option for a comfortable stay.</p>
            </div>
            <div class="facility-col">
                <img src="images/centre.png">
                <h3>Unlock Comfort, Book Your Retreat!</h3>
                <p>Discover a haven of comfort and convenience. Book your room now to unlock a retreat where relaxation meets luxury, creating the perfect getaway for your stay.</p>
            </div>
            <div class="facility-col">
                <img src="images/promo.png">
                <h3>Deluxe Room</h3>
                <p>Our deluxe room is an upgraded accommodation option offering enhanced amenities and more spacious or stylish features compared to standard rooms. It provides a more luxurious and comfortable experienc</p>
            </div>
        </div>
</section>

<!------- about us content -------->
    
<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Our Booking Form:</h1>
            <div class="container">
                <h1 class="form-title">Form:</h1>
                <form action="#">
                    <div class="main-user-info">
                        <div class="user-input-box">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" name="firstName" placeholder="Enter First Name">
                        </div>
                        <div class="user-input-box">
                            <label for="lasttName">Last Name:</label>
                            <input type="text" id="lastName" name="firstName" placeholder="Enter Last Name">
                        </div>
                        <div class="user-input-box">
                            <label for="startdate">Start Date:</label>
                            <input type="date" id="startdate" name="startdate">
                        </div>
                        <div class="user-input-box">
                            <label for="enddate">End Date:</label>
                            <input type="date" id="enddate" name="enddate">
                        </div>
                        <div class="choose">
                            <label for="roomtype">Room Type:</label>
                            <select id="roomtype" name="roomtype">
                                <option>Choose A Room Type:</option>
                                <option value="standardroom">Standard Room</option>
                                <option value="superiorroom">Superior Room</option>
                                <option value="deluxeroom">Deluxe Room</option>
                                <option value="twinroom">Twin Room</option>
                                <option value="singleroom">Single Room</option>
                                <option value="doubleroom">Double Room</option>
                            </select>
                        </div>
                        <div class="message">
                            <label for="message">Messages:</label>
                            <textarea name="Messages" id="Messages" placeholder="Enter Additional Preferences"></textarea>
                        </div>
                    </div>
                    <div class="form-submit-btn">
                        <input type="submit" value="Submit Form">
                    </div>
                </form>
            </div>
        </div>
</section>
    
<!---------- info room facilitites -----------> 
<section class="campus">
    <h1>Your Home Away from Home</h1>
    <p>Discover Luxury at Salchester Arms: Your Home Away from Home</p>
        <div class="row">
            <div class="campus-col">
                <img src="images/double bed.png">
                <div class="layer">
                    <h3>DOUBLE BEDROOM</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="images/room info.png">
                <div class="layer">
                    <h3>ROOM FACILITIES</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="images/single bed.png">
                <div class="layer">
                    <h3>SINGLE BEDROOM </h3>
                </div>
            </div>
            
        </div>
</section>
<!-------- footer ---------->

<section class="footer">
    <h4>About Us</h4>
    <p> Prefer to speak to one of our expert holiday advisors?</p>
    <p>Give us a call</p>
    <p>07482 811599</p>          
    <p></p>Find us on social</p>
    <div class="icons">
        <a href="https://www.youtube.com/c/EasyTutorialsVideo?sub_confirmation=1"><i class="fa fa-facebook"></i></a>
        <a href="https://www.youtube.com/c/EasyTutorialsVideo?sub_confirmation=1"><i class="fa fa-twitter"></i></a>
        <a href="https://www.youtube.com/c/EasyTutorialsVideo?sub_confirmation=1"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/c/EasyTutorialsVideo?sub_confirmation=1"><i class="fa fa-linkedin"></i></a>
        
    </div>
    <a class="footer-link"><p>made with <i class="fa fa-heart-o"></i> by Valeria</p></a>
</section>    

  
<!----JavaScript for toggle menu---->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script> 
    
</body>
</html>    
@if (myBookings != null)
{
    <ul>
        @foreach (var booking in myBookings)
        {
            <li>Room @booking.RoomNumber: @booking.StartDate to @booking.EndDate</li>
            <li>
                <button @onclick="@(e => deleteBooking(booking))">Delete this Booking</button>
            </li>
        }
    </ul>
}


@code {
    List<Roombooking> myBookings;
    protected override async Task OnInitializedAsync()
    {
        if (UserSession.UserId == 0)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            await LoadBookings();
        }
    }
    private async Task LoadBookings()
    {
        myBookings = await RoombookingService.GetRoombookingsFromCustomer(UserSession.UserId);
    }
    private async Task deleteBooking(Roombooking bookingToDelete)
    {
        await RoombookingService.DeleteBooking(bookingToDelete);
        await LoadBookings();
    }

} *@