@inherits LayoutComponentBase

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridget Zoo</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<section class="header">

    <nav>
        <a href="Home.razor"><img class="newlogo" src="images/newlogo.png"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-close" onclick="hideMenu()"></i>
            <ul>
                <li><a href="Home.razor">HOME</a></li>
                <li><a href="Register.razor">SIGN UP</a></li>
                <li><a href="Login.razor">LOGIN-IN</a></li>
                <li><a href="Location.html">LOCATION</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

    <div class="text-box">
        @*             <h1>Ridget Zoo - Your Dream Zoo </h1>
        <p>Salchester Arms: Where Elegance Meets Comfort in Every Stay!</p>
        <p>Scroll down for more content about zoo!</p> *@
        <a href="Register.razor" class="hero-btn">Register</a>
    </div>
</section>


<div class="page">
    <div class="sidebar">
        <NavMenu />

    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>